
.modal-dialog
  .modal-content
    .modal-header
      %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
      %h4#myModalLabel.modal-title Edytuj wpis
    .modal-body
      .row
        .col-md-12
          =simple_form_for @work_time, :html => { :class => 'form-horizontal' } do |f|
            =f.association  :project, collection: current_user.projects, input_html: { class: "select2"}, label: :project
            =f.association  :kind, input_html: { class: "select2"}, label: :kind
            =f.input        :time, label: :time
            =f.input        :date, as: :string, input_html: { class: "date", value: Date.today }, label: :date
            =f.input        :comment, label: :comment
            =f.button       :submit, class: 'btn btn-success'


