=simple_form_for @dictionary, url: url do |f|
  =f.input :kind, collection: collect_kinds, input_html: { class: "form-control input-sm" }, label: 'Rodzaj'
  =f.input :parent_id, collection: collect_dictionary_parents(3), input_html: { class: "form-control input-sm" }, label: 'Rodzic',
    selected: f.object.parent_id, :include_blank => true
  =f.input :symbol, input_html: { class: "form-control input-sm" }
  %hr
  = f.button :submit, 'Zapisz', class: 'btn btn-success'
  = link_to 'Anuluj', admin_index_path, class: 'btn btn-sm btn-default'