= simple_form_for @project do |f|
  .col-md-5.col-md-offset-1
    =f.input :short_name, input_html: { class: "form-control input-sm" }, label: 'Nazwa skrócona'
    =f.input :name, input_html: { class: "form-control input-sm" }, label: 'Nazwa'
    =f.input :assigned_to, collection: collect_users , input_html: { class: "form-control input-sm" }, label: 'Przypisany do'
    =f.input :parent, collection: collect_projects, input_html: { class: "form-control input-sm" }, label: 'Projekt nadrzędny'
    %hr
    = f.button :submit, 'Zapisz', class: 'btn btn-success'
    = link_to 'Anuluj', projects_path, class: 'btn btn-sm btn-default'